<div class="about-container">
    <h2>About Me</h2>
    <p>
        With a solid background in JavaScript, HTML/CSS, Angular, and related technologies, I have over 6 years of
        production experience. Together with supporting and expanding current features, I can also develop new ones. I am
        able to assist less seasoned coworkers while working independently.

        I review code every day and provide enhancements by analyzing functionality. Furthermore, as a mentor and expert, I
        took part in non-project activities. One may argue that I am a responsible, driven individual who works well in a
        group.

    </p>
    <div class="pulse1" style="left: 0px; top: 0px;"></div>
</div>