<div class="eductions">
    <div class="header">
        <h2>Education</h2>
    </div>
    <mat-card class="edu-card">
        <mat-card-header>
            <mat-card-title>Master of Computer Application (MCA)</mat-card-title>
            <mat-card-subtitle>Kristu Jayanti College <span class="time"> 2012 - 2015</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <div class="left">
                    <p style="color: #000;">K.Narayanapura<br /> Bengaluru<br /> Karnataka 560077<br />
                        India</p>
                </div>
                <div class="right-img">
                    <img src='assets/image/kjc.jpg'>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="edu-card">
        <mat-card-header>
            <mat-card-title>Bachelor of Science <span class="sub"> (BSc Computer Science)</span></mat-card-title>
            <mat-card-subtitle>College of Applied Science Pattuvam <span class="time"> 2009 - 2012</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <div class="left" style="color: #000;">
                        Kayyamthadam, Ariyil P.O., Taliparamba<br/>
                        Kerala, 670 143<br/>
                        India<br/>
                </div>
                <div class="right-img">
                    <img src='assets/image/casp.jpeg'>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="edu-card">
        <mat-card-header>
            <mat-card-title>Higher Secondary Education (HSE)</mat-card-title>
            <mat-card-subtitle>Nirmala Higher Secondary School <span class="time"> 2009 - 2011</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <div class="left">
                    <p style="color: #000;">3GWX+Q6H<br />  Chemperi<br />Kerala 670632<br/>
                        India</p>
                </div>
                <div class="right-img">
                    <img src='assets/image/nhssc.jpg'>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="exp">
        <span class="exp-span" [routerLink]="'/experience'">View Experiences</span>
    </div>
</div>