<nav>
    <div class="logo">
        <img src="assets/image/logo-png.png" alt="Logo Image">
    </div>
    <div class="hamburger" (click) ="showHamburg(this)">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a [routerLink]="['/']" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a [routerLink]="['about']" [routerLinkActive]="'is-active'">About</a></li>
        <li><a [routerLink]="['/skills/']" [routerLinkActive]="'is-active'">Skills</a></li>
        <li><a [routerLink]="['/education/']" [routerLinkActive]="'is-active'">Eduction</a></li>
        <li><a [routerLink]="['/experience/']" [routerLinkActive]="'is-active'">Experience</a></li>
        <li><a [routerLink]="['/project/']" [routerLinkActive]="'is-active'">Projects</a></li>
        
        <li><a [routerLink]="['/contact/']" [routerLinkActive]="'is-active'">Contact</a></li>
    </ul>
</nav>